*.user
*.ncb
*.aps
*.obj
*.ilk
*.idb
*.pdb
*.manifest
*.suo
*.sdf
*.opensdf
*.layout
*.depend
*.exe
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
/.metadata
/169.254.0.1
/ipch
/cmake
/Debug
/Release
/Simulator
/Simulator-Coverage
/Simulator-Profile
/Device-Debug
/Device-Coverage
/Device-Profile
/Device-Release


